.card.mb-3
  .card-header
    %h6.my-1= t '.my_account'

  .card-body
    = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
      = f.error_notification

      .row
        .col-lg-6
          = f.input :name

          = f.input :email

          %hr.mt-5.mb-4

          %h6= t '.password_leave_blank'
          .row
            .col-lg-6
              = f.input :password

            .col-lg-6
              = f.input :password_confirmation

          %hr.mb-5

          = f.input :current_password

          = f.button :submit



.card.bg-danger
  .card-header.text-white
    = t '.cancel_my_account'

  .card-body.bg-white.text-center
    %p= t '.cancel_message'

    = button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('text.confirm') }, method: :delete, class: 'btn btn-danger'
