= page_title do
  %h1= t '.title'
  = button_new new_tag_path

= display_when_present @tags do
  %table.table
    %thead
      %tr
        %th= Tag.human_attribute_name :name
        %th.table-actions

    %tbody= render @tags
