.row.justify-content-center
  .col{ style: 'max-width: 450px;' }
    .card.my-5
      .card-body
        %h4.card-title.text-center.my-4= t 'app.title'

        = simple_form_for :user, as: resource_name, url: session_path(resource_name) do |f|
          - if flash[:alert].present?
            .alert.alert-warning{ role: "alert" }
              = alert

          = f.input :email

          = f.input :password, hint: false

          - if devise_mapping.rememberable?
            = f.input :remember_me, as: :boolean


          = f.button :submit, t('text.enter')


    = render "devise/shared/links"
