%h1= t '.title'

= simple_form_for @bank_account_delete_form, url: bank_account_path(@bank_account), method: 'delete' do |f|
  = f.error_notification

  %h2= @bank_account.name

  = f.input :replace_id, collection: bank_accounts_collection(except_ids: @bank_account.id), include_blank: false

  = form_actions f, cancel_url: bank_accounts_path
