- if user_signed_in?
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.mb-3
    .container
      = link_to root_path, class: 'navbar-brand' do
        = t('app.name')

        - if Rails.env.staging?
          %small{ style: 'font-size: 0.6em; color: yellow;' }= t 'app.staging'

      = button_tag class: 'navbar-toggler', data: { 'bs-toggle': 'collapse', 'bs-target': '#navbarSupportedContent' }, aria: { 'controls': 'navbarSupportedContent', expanded: false, label: 'Toggle navigation' } do
        %span.navbar-toggler-icon

      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          -#= menu_nav_item :dashboard, root_path

          = menu_nav_item :operations, operations_path

          = menu_nav_item :bank_accounts, bank_accounts_path

          = menu_nav_item :tags, tags_path


        %ul.navbar-nav.mb-2.mb-lg-0
          = menu_nav_item_dropdown :user, current_user.name do
            %ul.dropdown-menu.dropdown-menu-end{ aria: { labelledby: 'userDropdown' } }
              %li
                = link_to t('app.menu.edit_user'), edit_user_registration_path, class: 'dropdown-item'

              %li
                = link_to t('app.menu.sign_out'), destroy_user_session_path, method: :delete, class: 'dropdown-item'
