!!!
%html
  %head
    %title= t 'app.title'
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1" }

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'


  %body
    = render 'app/menu'

    .container
      - if flash[:notice].present?
        .alert.alert-success.alert-dismissible.fade.show{ role: "alert" }
          = notice
          = button_tag '', class: "btn-close", data: { 'bs-dismiss': "alert" }, aria: { label: "Close" }

      = yield
